PORT=7055
DATABASE_URL=mysql://fatbigquiz:password@db:3306/fatbigquiz
CORS_ORIGIN=https://fatbigquiz.com,https://www.fatbigquiz.com
ADMIN_API_KEY=
EMAIL_SERVICE_URL=http://email-service:6003
EMAIL_SERVICE_API_KEY=
AUTH_SERVICE_URL=http://auth-service:6004
AUTH_JWT_SECRET=
CALENDAR_SERVICE_URL=http://calendar-service:6012
