PORT=7057
DATABASE_URL=mysql://fatbigquiz:password@db:3306/fatbigquiz
CORS_ORIGIN=https://fatbigquiz.com,https://www.fatbigquiz.com
ADMIN_API_KEY=
PAYMENTS_SERVICE_URL=http://payments-service:6007
PAYMENTS_API_KEY=
GOOGLE_MERCHANT_ID=5708205694
GOOGLE_APPLICATION_CREDENTIALS=/app/server/config/google-merchant-credentials.json
