PORT=7053
DATABASE_URL=mysql://fatbigquiz:password@db:3306/fatbigquiz
CORS_ORIGIN=https://fatbigquiz.com,https://www.fatbigquiz.com
ADMIN_API_KEY=
AUTH_SERVICE_URL=http://auth-service:6004
AUTH_JWT_SECRET=
STORAGE_SERVICE_URL=http://storage-service:6010
STORAGE_API_KEY=
